@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

* {
  font-family: 'Koulen', cursive;
}

.background {
  background-image: url("./../assets/Background.svg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.game-background {
  background-image: url("./../assets/Background.svg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.logo {
  position: absolute;
  margin-top: 20px;
  left: 50%;
  transform: translate(-50%, 0);
}
